<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>SWEETFIT - Login</title>
    <link rel="stylesheet" href="css/login.css" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet"/>
</head>
<body>
    <div class="login-container">
      
      <!-- LOGO a la izquierda -->
      <div class="logo-side">
        <img src="../img/logosweet.png" alt="Logo Sweetfit" class="logo-imgsweet" />
      </div>
  
      <!-- FORMULARIO -->
      <div class="wrapper-login">
        <form class="form">
          <h1 class="title-login">Inicio</h1>
          
          <div class="inp">
            <input type="text" placeholder="Usuario">
          </div>
          <div class="inp">
            <input type="password" placeholder="Contraseña">
          </div>
          <button class="submit">Iniciar Sesión</button>
        </form>
      </div>
  
    </div>
  </body>
  
</html>
