  <!-- ESTO SOLO ES PRUEBA NO LO HE CONECTADO A LA BD -->
<div class="cards">
    <div class="card">
      <h3>Ventas del día</h3>
      <p>$0.00</p>
    </div>
    <div class="card">
      <h3>Clientes registrados</h3>
      <p>0</p>
    </div>
    <div class="card">
      <h3>Inventario disponible</h3>
      <p>0 productos</p>
    </div>
    <div class="card">
      <h3>Última compra a proveedores</h3>
      <p>Sin registro</p>
    </div>
  </div>
  
  <div class="placeholder">
    📊 Aquí irán las gráficas cuando se conecte la base de datos
  </div>
  